*.gem
.bundle
.jekyll-cache
.sass-cache
_site
Gemfile.lock
404.md
_config.yml
_data/navigation.yml
_includes/footer.html
_includes/google-analytics.html
_includes/navigation.html
_includes/svg_icons.html
_layouts/default.html
_layouts/page.html
_layouts/post.html
_posts/2021-07-13-Hello-World.md
_posts/2021-07-16-this-post-demonstrates-post-content-styles.md
_sass/bootstrap-dark.scss
_sass/main.scss
_sass/syntax-highlighting.scss
about.md
assets/css/styles.scss
assets/images/dark_bauhaus_logo.png
assets/images/example.jpg
assets/images/favicon.ico
assets/images/light_bauhaus_logo.png
assets/images/sample_portfolio/1.jpg
assets/images/sample_portfolio/2.jpg
assets/images/sample_portfolio/3.jpg
assets/images/sample_portfolio/4.jpg
assets/images/sample_portfolio/5.jpg
CNAME
Gemfile
index.html
LICENSE.txt
portfolio.md
README.md
_config.yml
CNAME
README.md
README.md
